{% extends 'main.html' %}
{% block content %}
<h3 class="pt-2 pb-2">About Me</h3>
<div class="row">
  <div class="col col-12 col-xl-6">
    <!--Profile Photo Update-->
    {% include 'dashboard/index/update_profile_photo.html' %}
    <!--General About Me Update-->
    {% include 'dashboard/index/update_about_me.html' %}
  </div>
  <div class=" col col-12 col-xl-6">
    <!--CV upload-->
    {% include 'dashboard/index/upload_cv.html' %}
    <!--Update Password-->
    {% include 'dashboard/index/update_password.html' %}
  </div>
</div>
{% endblock %}