{% load widget_tweaks static %}
<div class="card p-5 border-rounded mb-3">
  <p class="fs-6 fw-bold">General Info</p>
  <form action="" method="POST" novalidate>
    {% csrf_token %}
    {% for field in userEditForm %}
    <div class="mb-3">
      <label class="form-label font-dark-gray"> {{ field.label_tag }} {% if field.field.required %} *
        {% endif %}
      </label>
      {% if field.errors %}
      {% render_field field class="form-control is-invalid" %}
      {% for error in field.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
      {% endfor %}
      {% else %}
      {% render_field field class="form-control" %}
      {% endif %}
    </div>
    {% endfor %}
    <div class="text-end">
      <input type="submit" name="update_user_info" value="Update" class="btn primary-button mb-3" />
    </div>
  </form>
</div>