{% load widget_tweaks static %}
<div class="card p-5 border-rounded">
  <p class="fs-6 fw-bold">Password Update</p>
  <form action="" method="POST" novalidate>
    {% csrf_token %}
    {% for field in passwordUpdateForm %}
    <div class="mb-3">
      <label class="form-label font-dark-gray">{{field.label_tag}} {% if field.field.required %} *
        {% endif %}</label>
      {% if field.errors %}
      {% render_field field class="form-control is-invalid" %}
      {% for error in field.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
      {% endfor %}
      {% else %}
      {% render_field field class="form-control" %}
      {% endif %}
    </div>
    {% endfor %}

    {% if messages %}
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="alert alert-danger" role="alert">
      {{ message }}
    </div>
    {% endif %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}

    <div class="text-end">
      <input type="submit" name="update_user_password" value="Update" class="btn primary-button mb-3" />
    </div>
  </form>
</div>