{% load widget_tweaks static %}
<div class="card p-5 border-rounded">
  <p class="fs-6 fw-bold">Add New Portfolios</p>
  <form action="" method="POST" novalidate enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in addPortfolioForm %}
    <div class="mb-3">
      <label class="form-label font-dark-gray"> {{ field.label_tag }} {% if field.field.required %} *
        {% endif %}
      </label>
      {% if field.errors %}
      {% render_field field class="form-control is-invalid" %}
      {% for error in field.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
      {% endfor %}
      {% else %}
      {% render_field field class="form-control" %}
      {% endif %}
      {% if field.help_text %}
      <div class="form-text">{{ field.help_text }}</div>
      {% endif %}
    </div>
    {% endfor %}
    {% comment %} <label class="form-label font-dark-gray">Tags *</label>
    <select class="form-select" size="7" name="tags" multiple aria-label="multiple select example">
      {% for tag in tags %}
      <option value="{{tag}}">{{tag.name}}</option>
      {% endfor %}
    </select> {% endcomment %}
    <div class="text-end mt-3">
      <input type="submit" value="Add" name="add_portfolio" class="btn primary-button mb-3" />
    </div>
  </form>
</div>