{% extends 'main.html' %}
{% load widget_tweaks static %}
{% block content %}
<h3 class="pt-2 pb-2">Portfolios / Update</h3>
<div class="mb-3">
  <a href="{% url 'portfolios' %}">
    <button type="button" class="btn secondary-button">Back</button>
  </a>
</div>
<div class="row">
  <div class="col col-12 col-xl-6">
    <!--Update Portfolio Form-->
    <div class="card p-5 border-rounded">
      <p class="fs-6 fw-bold">Update Existing Portfolio</p>
      <form action="" method="POST" novalidate enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in updatePortfolioForm %}
        <div class="mb-3">
          <label class="form-label font-dark-gray"> {{ field.label_tag }} {% if field.field.required %} *
            {% endif %}
          </label>
          {% if field.errors %}
          {% render_field field class="form-control is-invalid" %}
          {% for error in field.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
          {% endfor %}
          {% else %}
          {% render_field field class="form-control" %}
          {% endif %}
          {% if field.help_text %}
          <div class="form-text">{{ field.help_text }}</div>
          {% endif %}
        </div>
        {% endfor %}
        <div>
          <label class="form-label font-dark-gray"> Tags (Multiple Select) </label>
          <select class="form-select" name="tag" multiple aria-label="Tags: multiple select">
            {% for tag in tags %}
            <option value="{{tag.id}}">{{tag.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mt-2">
          <p>Current Used Tags:
            {% for tag in used_tags %}
            <span class="badge bg-primary">{{tag.name}}</span>
            {% endfor %}
          </p>
        </div>
        <div class="form-text  mb-2"><i class="fas fa-info-circle"></i>
          Don't select any tags if you want to keep using the current tags</div>
        <div class="text-end">
          <input type="submit" value="Update" class="btn primary-button mb-3" />
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}