{% load sass_tags static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% sass_src 'styles/main.scss' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'styles/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
  <title>Login</title>
</head>

<body>
  <div class="loginBackground">
    <div class="card loginCard p-2">
      <p class="fs-3 font-dark-gray mb-2 text-center">Login</p>
      <hr class="mt-0 mb-2">
      <form action="" method="POST">
        {%csrf_token%}
        <div class="mb-3">
          <label for="email" class="form-label font-dark-gray">Email address</label>
          <input type="email" name="email" class="form-control" id="email">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label font-dark-gray">Password</label>
          <input type="password" name="password" class="form-control" id="password">
        </div>
        {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger" role="alert">
          {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="col-auto text-end">
          <button type="submit" class="btn primary-button mb-3">Login</button>
        </div>
      </form>
    </div>
  </div>
</body>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

</html>