 <div class="card p-5 border-rounded">
   <p class="fs-6 fw-bold">Current Skills</p>
   <div class="table-responsive">
     <table class="table table-striped align-middle">
       <thead>
         <tr>
           <th scope="col">Name</th>
           <th scope="col">Percentage</th>
           <th scope="col">Edit</th>
           <th scope="col">Delete</th>
         </tr>
       </thead>
       <tbody>
         {% for skill in skills %}
         <tr>
           <td>{{skill.name}}</td>
           <td>{{skill.percentage}} &percnt;</td>
           <td>
             <a href="{% url 'update-skill' skill.id %}">
               <button type="button" class="btn primary-button"><i class="far fa-edit"></i></button>
             </a>
           </td>
           <td>
             <div class="mt-3">
               <form action="" method="POST" onsubmit="return confirmDelete('{{ skill.title }}')">
                 {% csrf_token %}
                 <input type="hidden" name="skillId" value="{{skill.id}}">
                 <button type="submit" name="delete_skill" class="btn btn-danger"><i
                     class="far fa-trash-alt"></i></button>
               </form>
             </div>
           </td>
         </tr>
         {% endfor %}
         {% if not skills %}
         <tr>
           <td colspan="6">No Data Yet</td>
         </tr>
         {% endif %}
       </tbody>
     </table>
   </div>
 </div>