{% load sass_tags static %}

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% sass_src 'styles/main.scss' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'styles/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
  <title>Admin Dashboard</title>
</head>

<body>
  <!--Mobile Side Menu-->
  <div class="mobileMenu">
    <div class="logoContainer">
      <p class="fs-5 fw-bold text-white text-center pt-3">DASHBoard</p>
    </div>
    <div class="navContainer">
      <p class="fs-8 text-muted pt-3 ps-3">Navigations</p>
      <a href="{% url 'home' %}" class="navLink">
        <div class="ms-2 me-2 d-flex flex-row align-items-center navItem pb-2">
          <div style="width: 30px;">
            <i class="fas fa-user icon-focus ms-2 mt-1"></i>
          </div>
          <div class="fs-7 ps-3 mt-1 font-gray mt-1">About</div>
        </div>
      </a>
      <a href="{% url 'experiences' %}" class="navLink">
        <div class="ms-2 me-2 mt-1 d-flex flex-row align-items-center navItem pt-2 pb-2">
          <div style="width: 30px;">
            <i class="fas fa-briefcase icon-focus ms-2"></i>
          </div>
          <div class="fs-7 ps-3 font-gray">Experiences</div>
        </div>
      </a>
      <div class="ms-2 me-2 mt-1 d-flex flex-row align-items-center navItem pt-2 pb-2">
        <div style="width: 30px;">
          <i class="fas fa-graduation-cap icon-focus ms-2"></i>
        </div>
        <div class="fs-7 ps-3 font-gray">Education</div>
      </div>
      <div class="ms-2 me-2 mt-1 d-flex flex-row align-items-center navItem pt-2 pb-2">
        <div style="width: 30px;">
          <i class="fas fa-award icon-focus ms-2"></i>
        </div>
        <div class="fs-7 ps-3 font-gray">Certificates</div>
      </div>
      <div class="ms-2 me-2 mt-1 d-flex flex-row align-items-center navItem pt-2 pb-2">
        <div style="width: 30px;">
          <i class="fas fa-cogs icon-focus ms-2"></i>
        </div>
        <div class="fs-7 ps-3 font-gray">Skills</div>
      </div>
      <div class="ms-2 me-2 mt-1 d-flex flex-row align-items-center navItem pt-2 pb-2">
        <div style="width: 30px;">
          <i class="fas fa-scroll icon-focus ms-2"></i>
        </div>
        <div class="fs-7 ps-3 font-gray">Portfolio</div>
      </div>
      <div class="ms-2 me-2 mt-1 d-flex flex-row align-items-center navItem pt-2 pb-2">
        <div style="width: 30px;">
          <i class="fas fa-tags icon-focus ms-2"></i>
        </div>
        <div class="fs-7 ps-3 font-gray">Tags</div>
      </div>
    </div>
  </div>
  <!-- Main Right Side Body -->
  <div class="main d-flex">
    <!--Desktop side menu-->
    <div class="desktopMenu">
      <div class="logoContainer">
        <p class="fs-5 fw-bold text-white text-center pt-3">DASHBoard</p>
      </div>
      <div class="navContainer">
        <p class="fs-8 text-muted pt-3 ps-3">Navigations</p>
        <a href="{% url 'home' %}" class="navLink">
          <div class="ms-2 me-2 d-flex flex-row align-items-center navItem pb-2">
            <div style="width: 30px;">
              <i class="fas fa-user icon-focus ms-2 fs-6 mt-1"></i>
            </div>
            <div class="fs-7 ps-3 mt-1 font-gray">About</div>
          </div>
        </a>
        <a href="{% url 'experiences' %}" class="navLink">
          <div class="ms-2 me-2 mt-1 d-flex flex-row align-items-center navItem pt-2 pb-2">
            <div style="width: 30px;">
              <i class="fas fa-briefcase icon-focus ms-2 fs-6"></i>
            </div>
            <div class="fs-7 ps-3 font-gray">Experiences</div>
          </div>
        </a>
        <div class="ms-2 me-2 mt-1 d-flex flex-row align-items-center navItem pt-2 pb-2">
          <div style="width: 30px;">
            <i class="fas fa-graduation-cap icon-focus ms-2 fs-6"></i>
          </div>
          <div class="fs-7 ps-3 font-gray">Education</div>
        </div>
        <div class="ms-2 me-2 mt-1 d-flex flex-row align-items-center navItem pt-2 pb-2">
          <div style="width: 30px;">
            <i class="fas fa-award icon-focus ms-2 fs-6"></i>
          </div>
          <div class="fs-7 ps-3 font-gray">Certificates</div>
        </div>
        <div class="ms-2 me-2 mt-1 d-flex flex-row align-items-center navItem pt-2 pb-2">
          <div style="width: 30px;">
            <i class="fas fa-cogs icon-focus ms-2 fs-6"></i>
          </div>
          <div class="fs-7 ps-3 font-gray">Skills</div>
        </div>
        <div class="ms-2 me-2 mt-1 d-flex flex-row align-items-center navItem pt-2 pb-2">
          <div style="width: 30px;">
            <i class="fas fa-scroll icon-focus ms-2 fs-6"></i>
          </div>
          <div class="fs-7 ps-3 font-gray">Portfolio</div>
        </div>
        <div class="ms-2 me-2 mt-1 d-flex flex-row align-items-center navItem pt-2 pb-2">
          <div style="width: 30px;">
            <i class="fas fa-tags icon-focus ms-2 fs-6"></i>
          </div>
          <div class="fs-7 ps-3 font-gray">Tags</div>
        </div>
      </div>
    </div>
    <!--Actual Content Area-->
    <div class="content">
      <!--Top navigation bar for login and profile photo-->
      <div class="topNavContainer border-rounded mt-3 d-flex flex-row align-items-center justify-content-between">
        <div class="ms-4">
          <i class="fas fa-bars fs-5 mobileMenuIcon" onclick="toggleMenu()"></i>
        </div>
        <div class="d-flex flex-row justify-content-between align-items-center">
          <a href="{% url 'logout' %}" class="a-links">
            <div>
              <i class="fas fa-sign-out-alt fs-4 me-3"></i>
            </div>
          </a>
          {% if not request.user.profile_photo or request.user.profile_photo is None %}
          <div>
            <img src="{% get_static_prefix %}{{ 'images/profile1.jpg' }}" class="profileImg me-4" />
          </div>
          {% else %}
          <div>
            <img src="{% get_static_prefix %}{{request.user.profile_photo.url}}" class="profileImg me-4" />
          </div>
          {% endif %}
        </div>
      </div>

      <div class="contentItems mt-2">
        {% block content %}
        {% endblock %}
      </div>

    </div>

  </div>

</body>

<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/slideout.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="https://kit.fontawesome.com/7219a1190c.js" crossorigin="anonymous"></script>

</html>