 <div class="card p-5 border-rounded">
   <p class="fs-6 fw-bold">Current Certificates <span class="info ms-3"><i class="fas fa-info-circle"></i> Latest On
       Top<span></p>
   <div class="table-responsive">
     <table class="table table-striped align-middle">
       <thead>
         <tr>
           <th scope="col">Year</th>
           <th scope="col">Title</th>
           <th scope="col">Awarding Body</th>
           <th scope="col">Edit</th>
           <th scope="col">Delete</th>
         </tr>
       </thead>
       <tbody>
         {% for certi in certificates %}
         <tr>
           <td>{{certi.year}}</td>
           <td>{{certi.title}}</td>
           <td>{{certi.award_body}}</td>
           <td>
             <a href="{% url 'update-certificate' certi.id %}">
               <button type="button" class="btn primary-button"><i class="far fa-edit"></i></button>
             </a>
           </td>
           <td>
             <div class="mt-3">
               <form action="" method="POST" onsubmit="return confirmDelete('{{ certi.title }}')">
                 {% csrf_token %}
                 <input type="hidden" name="certiId" value="{{certi.id}}">
                 <button type="submit" name="delete_certi" class="btn btn-danger"><i
                     class="far fa-trash-alt"></i></button>
               </form>
             </div>
           </td>
         </tr>
         {% endfor %}
         {% if not certificates %}
         <tr>
           <td colspan="6">No Data Yet</td>
         </tr>
         {% endif %}
       </tbody>
     </table>
   </div>
 </div>